.user-address-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user-address {
  text-align: left;
  background-color: rgba(29, 54, 111, 0.2);
  border: 1px solid var(--primary-color);
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
}

.user-address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-address-header-title {
  font-size: 16px;
  font-weight: bold;
}
.user-address-button-container {
  display: flex;
  gap: 1rem;
}
.user-address button,
.user-address-header button {
  width: 150px;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}
.user-address button:hover,
.user-address-header button:hover {
  background-color: white;
  color: var(--primary-color);
}
