.signup-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-form-container {
  height: 450px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--shadow-color);
  padding: 0 2rem;
}
.signup-form-container,
.signup-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.signup-form-container form {
  width: 100%;
}

.signup-form-container input {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px 20px;
}
.signup-form-container button {
  width: 100%;
}

.signup-form-header {
  font-family: cursive;
  color: var(--primary-color);
  text-align: center;
}
