:root {
  --primary-color: rgba(29, 54, 111, 1);
  --secondary-color: rgb(22, 197, 129);
  --heading-desktop: 3rem;
  --heading-tablet: 2.5rem;
  --heading-mobile: 2rem;
  --sub-heading-desktop: 2rem;
  --sub-heading-tablet: 1.75rem;
  --sub-heading-mobile: 1.5rem;
  --content-desktop: 1rem;
  --content-tablet: 0.85rem;
  --content-mobile: 0.65rem;
}
/****************Nav Bar********************/
.nav-main {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
}
.nav-logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 4rem;
  font-size: var(--content-desktop);
}
.nav-search input[type="text"] {
  border-radius: 1rem 0 0 1rem;
  width: 300px;
  padding: 0.5rem 1rem;
  margin-right: 0;
  font-size: var(--content-desktop);
}
.nav-search button {
  border-radius: 0 1rem 1rem 0;
  padding: 0.5rem 1rem;
  margin-left: 0;
  font-size: var(--content-desktop);
}
.hamburger-menu {
  background-color: rgba(29, 54, 111, 0.8);
  height: max-content;
  padding: 1rem;
  display: none;
}
.hamburger-menu-links {
  width: 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
  margin: auto;
}
.hamburger-icon {
  color: white;
  font-size: 1.5rem;
  display: none;
}

@media (max-width: 968px) {
  .nav-logo img {
    height: 40px;
  }
  .hamburger-menu,
  .hamburger-icon {
    display: block;
    font-size: var(--content-tablet);
  }
  .nav-links {
    display: none;
  }
  .nav-search input[type="text"] {
    width: max-content;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: var(--content-tablet);
  }
  .nav-search button {
    font-size: var(--content-tablet);
  }
}
@media (max-width: 420px) {
  .nav-logo img {
    height: 30px;
  }
  .hamburger-menu,
  .nav-search input[type="text"],
  .nav-search button,
  .hamburger-icon {
    font-size: var(--content-mobile);
  }
  .nav-search input[type="text"],
  .nav-search button {
    padding: 0.5rem 1rem;
  }
}
