/* div{
    background-color:red;
} */
.nav-header {
  display: grid;
  grid-auto-flow: column;
  padding: 10px;
  background-color: rgba(29, 54, 111, 1);
}
.nav-items {
  display: flex;
  /* background-color:blue; */
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
.nav-items button {
  background-color: rgb(22, 197, 129);
  padding: 10px 25px;
  color: white;
  border: none;
  font-family: "Righteous", cursive;
  font-size: 15px;
  border-radius: 5px;
}
.nav-items button:hover {
  background-color: white;
  color: lightgreen;
}
.nav-left {
  display: flex;
  gap: 20px;
  algin-items: center;
}
.nav-search input[type="text"] {
  color: grey;
  padding: 10px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 10px;
}
