.user-details-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.user-details {
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--shadow-color);
}

.user-title {
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  padding: 2rem 0;
  margin: 0;
  border-bottom: 1px solid var(--secondary-color);
  border-radius: 20px 20px 0 0;
}
.user-details-header {
  display: flex;
  width: 100%;
}
.profile-card-btn {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
}

.user-details-content {
  text-align: left;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.user-detail-heading {
  font-weight: bold;
}

/**********Responsive Screens**********/
@media (max-width: 768px) {
  .user-details-container {
    padding: 0.5rem;
  }
  .user-details {
    width: 100%;
  }
}
