.checkout-card-container {
  width: 100%;
  border: 1px solid grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout-card-heading {
  font-size: 20px;
  font-family: cursive;
  text-align: center;
}

.checkout-card-subheading {
  font-weight: bold;
}

.checkout-card-price,
.checkout-card-discout,
.checkout-card-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.discount-statement {
  font-size: 14px;
}

.checkout-button {
  width: 100%;
}
