.footer-container {
  border-top: 1px solid var(--shadow-color);
  box-shadow: 0 0 2px 2px var(--shadow-color);
  padding: 0.5rem 0 1rem 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.footer-container p {
  margin: 0 0 0.5rem 0;
  color: var(--primary-color);
}
.footer-icons a {
  margin: 1rem 1rem 1.5rem 1rem;
  font-size: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.3rem 0.5rem;
  border-radius: 100%;
}
.footer-icons a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
