.address-modal-container {
  background-color: rgba(29, 54, 111, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.address-modal-main {
  width: max-content;
  height: max-content;
  width: 40%;
  padding: 2rem;
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}
.address-modal-title {
  font-weight: bold;
}
.address-modal-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.address-modal-input-container input {
  border: 1px solid var(--primary-color);
  padding: 0.4rem;
  border-radius: 5px;
}
.address-modal-input-container button {
  background-color: rgba(29, 54, 111, 0.5);
  border: 1px solid var(--primary-color);
  padding: 0.4rem;
  color: var(--primary-color);
  font-weight: bold;
}
.address-modal-input-container button:hover {
  background-color: var(--primary-color);
  color: white;
}
