.login-main {
  height: max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgba(29, 54, 111, 0.3);
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--primary-color);
  padding: 0 5rem;
}

.login-main input {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.login-main button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}
