* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

:root {
  --primary-color: rgb(29, 54, 111);
  --secondary-color: rgb(22, 197, 129);
  --text-color-white: white;
  --shadow-color: lightgrey;
  --text-size: 16px;
  --text-size-small: 14px;
  --text-size-extra-small: 12px;
}
/***********Shared Classes********/
.primary-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 2px var(--shadow-color);
  padding: 0.5rem 1rem;
}

/********* Login *********/
.login-card-container,
.signup-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/************Home**********/
.home {
  margin-top: 5rem;
}
.hero {
  margin: 0.5rem 1rem;
  padding: 1rem;
  border-radius: 8px;
  height: 500px;
  width: 98%;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: center;
  background-image: url("https://cdn.shopify.com/s/files/1/0047/9730/0847/files/nurserylive-home-page-cactus-and-succulent-banner-v3_6f9a298f-e6db-4a5c-9357-2a35f512f084_1346x499.jpg?v=1637848242");
  /* background: linear-gradient(
    315deg,
    rgba(22, 197, 129, 0.8) 40%,
    rgba(29, 54, 111, 0.8) 60%
  ); */
  /* background: rgba(255, 255, 255, 0.4); */
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%); */
  /* color: var(--text-color-white); */
  box-shadow: 0px 4px 8px 0px var(--shadow-color);
}
.hero-image-container {
  position: relative;
}
.hero-image-box {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 5px 2px var(--shadow-color);
}

.hero-image-box img {
  width: 90%;
  height: 90%;
}
.hero-content-text {
  font-size: 60px;
  font-family: cursive;
  color: white;
  /* text-align: left; */
}
.image-box-1 {
  position: absolute;
  top: 1;
  left: 1;
}
.image-box-2 {
  position: absolute;
  top: 2;
  left: 2;
}
.image-box-3 {
  position: absolute;
  top: 3;
  left: 3;
}
.image-box-4 {
  position: absolute;
  right: 0;
}
.image-box-5 {
  position: absolute;
  right: 0;
  bottom: 0;
}
/******************/
.home-categories-heading {
  font-weight: bold;
  font-size: 24px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 1rem;
}
.home-categories {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  margin: 40px;
}
.category_card {
  background-color: rgba(29, 54, 111, 0.5);
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.category_card img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.category_card p {
  font-weight: bold;
  color: var(--primary-color);
}

.home-items-list-container {
  background-color: lightgrey;
  margin: 40px 0;
}
.home-items-list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: var(--primary-color);
}
.home-items-list-content button {
  background-color: rgba(29, 54, 111, 1);
  color: lightgreen;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
}

.home-items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 100%;
  min-height: 350px;
}

.item-card {
  background-color: white;
  width: 250px;
  height: 300px;
  padding: 6px;
  box-shadow: rgba(29, 54, 111, 0.5) 0px 5px 15px;
}
.item-card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.home-items-list-content p {
  font-weight: bold;
  font-size: 24px;
}
.item-card p {
  color: var(--primary-color);
}

/*********Products********/
.products-main {
  display: grid;
  grid-template-columns: 250px auto;
}
.product-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}
.show-filters-button {
  display: none;
  background-color: rgba(29, 54, 111, 1);
  color: lightgreen;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
}
.product-list-header p {
  font-size: 20px;
  font-weight: bold;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.products-list a {
  width: 100%;
  height: 60%;
}

/************Product Details*********/
.product-detail-main-container {
  display: flex;

  justify-content: center;
  align-items: center;
}
.product-detail-card-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 4rem;
  width: 600px;
  height: 350px;
  border: 1px solid var(--primary-color);
  padding: 1rem;
}
.product-detail-card-image-container {
  width: 200px;
  height: 100%;
}
.product-detail-card-image-container img {
  height: 100%;
}
.product-detail-card-content-container {
  text-align: left;
}
.product-detail-card-content-container div {
  display: flex;
  /* justify-content: space-around; */
  gap: 0.5rem;
  align-items: center;
}
.product-detail-button {
  color: white;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border: none;
  widht: 100%;
}
.product-detail-button:hover {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}

/*********Cart********/
.cart-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
}
.cart-cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

/******Checkout*****/
.payment-page-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 5rem;
}
.payment-page-container p {
  margin: 0;
  padding: 0;
}
.payment-card {
  width: 80%;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.payment-card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-card-title {
  font-size: 20px;
  font-weight: bold;
}
.payment-card-subtitle {
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 968px) {
  .hero {
    height: 400px;
  }
  .hero-content {
    font-size: 20px;
    top: 80px;
    left: 8px;
    width: 400px;
  }
  .home-categories-heading {
    font-size: 20px;
  }
  .category_card {
    width: 150px;
    height: 150px;
    padding: 5px;
  }
  .home-items-list-content p {
    font-size: 20px;
  }
  .home-items-list-content {
    padding: 0 2rem;
  }
  .home-items-list-content button {
    padding: 8px 20px;
  }
  .item-card {
    width: 200px;
    height: 250px;
    margin: 5px;
  }
  .item-card img {
    height: 75%;
  }
  .product-filters {
    display: none;
  }
  .show-filters-button {
    display: block;
    padding: 8px 20px;
  }
  .cart-container {
    flex-direction: column;
    padding: 0.5rem;
  }
}
@media (max-width: 420px) {
  .hero {
    height: 350px;
  }
  .hero-content {
    font-size: 15px;
    top: 80px;
    left: 5px;
    width: 250px;
  }
  .hero-content button {
    padding: 5px 10px;
  }
  .home-categories-heading {
    font-size: 16px;
  }
  .home-categories {
    margin: 20px;
    justify-content: space-between;
  }
  .category_card {
    width: 80px;
    height: 80px;
    padding: 5px;
  }
  .home-items-list-content p {
    font-size: 16px;
  }
  .home-items-list-content {
    padding: 0 1.5rem;
  }
  .home-items-list-content button {
    padding: 8px 15px;
    font-size: 12px;
  }
  .item-card {
    width: 150px;
    height: 220px;
  }
  .item-card img {
    height: 70%;
  }
}
