* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  /* font-family: "Righteous", cursive; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  /* position: relative; */
}

:root {
  --primary-color: rgba(29, 54, 111, 1);
  --secondary-color: rgb(22, 197, 129);
  --heading-desktop: 2rem;
  --heading-tablet: 1.5rem;
  --heading-mobile: 1rem;
  --sub-heading-desktop: 1.75rem;
  --sub-heading-tablet: 1.5rem;
  --sub-heading-mobile: 1.25rem;
  --content-desktop: 1.25rem;
  --content-tablet: 1.125rem;
  --content-mobile: 1rem;
}

/********* Login *********/
.login-card-container,
.signup-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/************Home**********/
.home {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.hero {
  position: relative;
  height: 500px;
  width: 100%;
}

.hero-image-container {
  position: absolute;
  inset: 0;
  z-index: -10;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-content {
  color: green;
  font-size: 25px;
  position: absolute;
  width: 500px;
  top: 100px;
  left: 20px;
}
.hero-content button {
  background-color: rgba(29, 54, 111, 1);
  color: lightgreen;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
}

.home-categories-heading {
  font-weight: bold;
  font-size: 24px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 1rem;
}
.home-categories {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  margin: 40px;
}
.category_card {
  background-color: rgba(29, 54, 111, 0.5);
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.category_card img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.category_card p {
  font-weight: bold;
  color: var(--primary-color);
}

.home-items-list-container {
  background-color: lightgrey;
  margin: 40px 0;
}
.home-items-list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: var(--primary-color);
}
.home-items-list-content button {
  background-color: rgba(29, 54, 111, 1);
  color: lightgreen;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
}

.home-items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 100%;
  min-height: 350px;
}

.item-card {
  background-color: white;
  width: 250px;
  height: 300px;
  padding: 6px;
  box-shadow: rgba(29, 54, 111, 0.5) 0px 5px 15px;
}
.item-card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.home-items-list-content p {
  font-weight: bold;
  font-size: 24px;
}
.item-card p {
  color: var(--primary-color);
}

/*********Products********/
.products-main {
  display: grid;
  grid-template-columns: 1fr auto;
}
.product-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}
.show-filters-button {
  /* display: none; */
  background-color: rgba(29, 54, 111, 1);
  color: lightgreen;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.products-list a {
  width: 100%;
  height: 60%;
}

/*********Cart********/
.cart-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
}
.cart-cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

/******Checkout*****/
.payment-page-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 5rem;
}

.payment-card {
  width: 80%;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.payment-card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-card-title {
  font-size: 20px;
  font-weight: bold;
}
.payment-card-subtitle {
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 968px) {
  .hero {
    height: 400px;
  }
  .hero-content {
    font-size: 20px;
    top: 80px;
    left: 8px;
    width: 400px;
  }
  .home-categories-heading {
    font-size: 20px;
  }
  .category_card {
    width: 150px;
    height: 150px;
    padding: 5px;
  }
  .home-items-list-content p {
    font-size: 20px;
  }
  .home-items-list-content {
    padding: 0 2rem;
  }
  .home-items-list-content button {
    padding: 8px 20px;
  }
  .item-card {
    width: 200px;
    height: 250px;
    margin: 5px;
  }
  .item-card img {
    height: 75%;
  }
  .product-filters {
    display: none;
  }
  .show-filters-button {
    display: block;
    padding: 8px 20px;
  }
  .cart-container {
    flex-direction: column;
    padding: 0.5rem;
  }
}
@media (max-width: 420px) {
  .hero {
    height: 350px;
  }
  .hero-content {
    font-size: 15px;
    top: 80px;
    left: 5px;
    width: 250px;
  }
  .hero-content button {
    padding: 5px 10px;
  }
  .home-categories-heading {
    font-size: 16px;
  }
  .home-categories {
    margin: 20px;
    justify-content: space-between;
  }
  .category_card {
    width: 80px;
    height: 80px;
    padding: 5px;
  }
  .home-items-list-content p {
    font-size: 16px;
  }
  .home-items-list-content {
    padding: 0 1.5rem;
  }
  .home-items-list-content button {
    padding: 8px 15px;
    font-size: 12px;
  }
  .item-card {
    width: 150px;
    height: 220px;
  }
  .item-card img {
    height: 70%;
  }
}
